[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
WorkingDirectory={{ kafka_dir }}
User=root
Group=root
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/server.properties
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh
TimeoutSec=30
Restart=on-abnormal
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target