[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
WorkingDirectory={{ zookeeper_dir }}
User=root
Group=root
ExecStart={{ zookeeper_dir }}/bin/zkServer.sh start {{ zookeeper_dir }}/conf/zoo.cfg
ExecStop={{ zookeeper_dir }}/bin/zkServer.sh stop {{ zookeeper_dir }}/conf/zoo.cfg
ExecReload={{ zookeeper_dir }}/bin/zkServer.sh restart {{ zookeeper_dir }}/conf/zoo.cfg
PIDFile={{ zookeeper_datadir }}/zookeeper_server.pid
TimeoutSec=30
Restart=on-abnormal

[Install]
WantedBy=multi-user.target



